<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hades.farm.core.data.mapper.UserMapper">

    <resultMap id="user" type="User">
        <id property="id" column="id"/>
        <result property="telephone" column="telephone"/>
        <result property="name" column="name"/>
        <result property="password" column="password"/>
        <result property="wechat" column="wechat"/>
        <result property="fatherNumber" column="father_number"/>
        <result property="grade" column="grade"/>
        <result property="isTrainee" column="is_trainee"/>
        <result property="sEgg" column="s_egg"/>
        <result property="sDuck" column="s_duck"/>
        <result property="active" column="active"/>
        <result property="imgUrl" column="img_url"/>
        <result property="qrCode" column="qr_code"/>
        <result property="addTime" column="add_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="user_columns">
        id,telephone,name,password,wechat,father_number,grade,is_trainee,s_egg,s_duck,
        active,img_url,qr_code,add_time,update_time
    </sql>

    <insert id="insert" parameterType="com.hades.farm.core.data.entity.User" useGeneratedKeys="true"
            keyProperty="userId">
        insert into t_user ( id,telephone,name,password,wechat,father_number,grade,is_trainee,
        s_egg,s_duck, active,img_url,qr_code,add_time,update_time)
        values (#{id},#{telephone},#{name},#{password},#{wechat},#{fatherNumber},#{grade},#{isTrainee},
        #{sEgg},#{sDuck},#{active},#{imgUrl},#{qrCode},#{addTime},#{updateTime})
    </insert>

    <select id="getUserById" resultMap="user">
        SELECT
        <include refid="user_columns"></include>
        FROM `t_user`
        WHERE id=#{id}
    </select>

    <select id="getUserByWeChat" resultMap="user">
        SELECT
        <include refid="user_columns"></include>
        FROM `t_user`
        WHERE wechat=#{wechat}
    </select>

    <select id="getUserPhone" resultMap="user">
        SELECT
        <include refid="user_columns"></include>
        FROM `t_user`
        WHERE telephone=#{telephone}
    </select>

    <update id="updateDogEndDay" parameterType="com.hades.farm.core.data.dto.requestDto.BuyGoodsRequestDto" >
        UPDATE t_user
        SET dog_end_day =
          CASE WHEN dog_end_day IS NULL OR dog_end_day &lt; NOW() THEN DATE_ADD(NOW(),INTERVAL #{num,jdbcType=INTEGER} DAY)
          ELSE DATE_ADD(dog_end_day,INTERVAL #{num,jdbcType=INTEGER} DAY) END,
        update_time = NOW()
        WHERE id = #{userId,jdbcType=BIGINT}
    </update>

    <update id="updateRobotEndDay" parameterType="com.hades.farm.core.data.dto.requestDto.BuyGoodsRequestDto" >
        UPDATE t_user
        SET robot_end_day =
        CASE WHEN robot_end_day IS NULL OR robot_end_day &lt; NOW() THEN DATE_ADD(NOW(),INTERVAL #{num,jdbcType=INTEGER} DAY)
        ELSE DATE_ADD(robot_end_day,INTERVAL #{num,jdbcType=INTEGER} DAY) END,
        update_time = NOW()
        WHERE id = #{userId,jdbcType=BIGINT}
    </update>

</mapper>